Repository CDCgov/prime-reportstream, pull requests merged in 2021-09, with the labels that each got.

#2057 Adds an alias for the QuickVue Rapids test kit
  prime-router/metadata/tables/LIVD-SARS-CoV-2-2021-04-28.csv
Labels: receiver

#2004 rhood/2001-Experity / Greenlight Urgent Care and Compass Urgent Care Onboarding
  prime-router/docs/schema_documentation/experity-cuc-al-covid-19.md
  prime-router/docs/schema_documentation/experity-experity-covid-19.md
  prime-router/docs/schema_documentation/experity-guc-la-covid-19.md
  prime-router/metadata/schemas/Experity/CUC-AL-covid-19.schema
  prime-router/metadata/schemas/Experity/GUC-LA-covid-19.schema
  prime-router/metadata/schemas/Experity/experity-covid-19.schema
  prime-router/metadata/valuesets/sender-automation.valuesets
  prime-router/settings/organizations.yml
  prime-router/settings/prod/0041-guc-la.yml
  prime-router/settings/prod/0042-cuc-al.yml
  prime-router/settings/staging/0041-guc-la.yml
  prime-router/settings/staging/0042-cuc-al.yml
  prime-router/src/main/kotlin/Mappers.kt
Labels: onboarding, sender-automation

#2051 ReactJs add "content security policy" to main index.html page
  frontend-react/.env
  frontend-react/.env.development
  frontend-react/.env.production
  frontend-react/.env.test
  frontend-react/.gitignore
  frontend-react/package-lock.json
  frontend-react/package.json
  frontend-react/public/index.html
  frontend-react/public/manifest.json
  frontend-react/src/index.css
  frontend-react/src/oktaConfig.ts
  frontend-react/src/pages/how-it-works/WhereWereLive.tsx
Labels: react

#2063 Addition of HIPAA notice at bottom of test results list
  frontend-react/src/pages/Daily.tsx
Labels: react

#2067 Footer moved to bottom of pages that are shorter than VH/don't scroll
  frontend-react/src/App.tsx
  frontend-react/src/index.css
Labels: react

#2074 Quick fix to get staging working with `Content-Security-Policy`
  frontend-react/public/index.html
Labels: react

#2083 content security policy add staging env file
  frontend-react/.env.production
  frontend-react/.env.staging
  frontend-react/public/index.html
Labels: react

#2084 "content security policy" Path change from `/api` to `/api/`
  frontend-react/.env
  frontend-react/.env.development
  frontend-react/.env.production
  frontend-react/.env.staging
  frontend-react/public/index.html
Labels: react

#2089 Make entire login button the clickable link
  frontend-react/src/components/ReportStreamHeader.tsx
Labels: receiver, react, web-receiver

#2059 Adding CODEOWNERS file
  .github/CODEOWNERS
Labels: DevOps, chore

#2045 Dedicated metabase App Insights
  operations/app/src/environments/04-app/main.tf
  operations/app/src/modules/application_insights/metabase.tf
  operations/app/src/modules/application_insights/outputs.tf
  operations/app/src/modules/application_insights/variables.tf
Labels: DevOps

#2053 Hotfix for missing AI connection string
  operations/app/src/environments/04-app/main.tf
  operations/app/src/modules/application_insights/outputs.tf
  operations/app/src/modules/function_app/main.tf
  operations/app/src/modules/function_app/variables.tf
  operations/app/src/modules/metabase/main.tf
  operations/app/src/modules/metabase/variables.tf
Labels: DevOps

#2073 Rhood/2052 add zip codes
  prime-router/metadata/tables/zip-code-data.csv
Labels: sender-automation

#2108 Updated spinner styling and "no results" text for empty table
  frontend-react/src/App.css
  frontend-react/src/App.tsx
  frontend-react/src/pages/Daily.tsx
Labels: react

#2109 Updated live map based on jurisdiction-connection-status.md update
  frontend-react/src/content/live.json
Labels: react

#2048 Add fields to Direct schema to support updated CA requirements
  prime-router/docs/schema_documentation/direct-anavasidx-covid-19.md
  prime-router/docs/schema_documentation/direct-cue-covid-19.md
  prime-router/docs/schema_documentation/direct-direct-covid-19.md
  prime-router/docs/schema_documentation/direct-imagemover-covid-19.md
  prime-router/docs/schema_documentation/direct-inbios-covid-19.md
  prime-router/docs/schema_documentation/direct-safehealth-covid-19.md
  prime-router/docs/schema_documentation/hhsprotect-hhsprotect-covid-19.md
  prime-router/metadata/schemas/direct/direct-covid-19.schema
Labels: sender-pipeline

#2125 Date Time Fix New Y2K
  prime-router/docs/schema_documentation/az-az-covid-19-hl7.md
  prime-router/docs/schema_documentation/az-pima-az-covid-19.md
  prime-router/docs/schema_documentation/ca-ca-scc-covid-19.md
  prime-router/docs/schema_documentation/co-co-covid-19-redox.md
  prime-router/docs/schema_documentation/covid-19-redox.md
  prime-router/docs/schema_documentation/covid-19.md
  prime-router/docs/schema_documentation/direct-anavasidx-covid-19.md
  prime-router/docs/schema_documentation/direct-careevolution-covid-19.md
  prime-router/docs/schema_documentation/direct-cue-covid-19.md
  prime-router/docs/schema_documentation/direct-direct-covid-19.md
  prime-router/docs/schema_documentation/direct-imagemover-covid-19.md
  prime-router/docs/schema_documentation/direct-inbios-covid-19.md
  prime-router/docs/schema_documentation/direct-primary-covid-19.md
  prime-router/docs/schema_documentation/direct-safehealth-covid-19.md
  prime-router/docs/schema_documentation/experity-cuc-al-covid-19.md
  prime-router/docs/schema_documentation/experity-experity-covid-19.md
  prime-router/docs/schema_documentation/experity-guc-la-covid-19.md
  prime-router/docs/schema_documentation/fl-fl-covid-19.md
  prime-router/docs/schema_documentation/gu-gu-covid-19.md
  prime-router/docs/schema_documentation/hhsprotect-hhsprotect-covid-19.md
  prime-router/docs/schema_documentation/hl7-hl7-ingest-covid-19.md
  prime-router/docs/schema_documentation/ipatientcare-ipatientcare-covid-19.md
  prime-router/docs/schema_documentation/ipatientcare-reddyfmc-la-covid-19.md
  prime-router/docs/schema_documentation/la-la-covid-19.md
  prime-router/docs/schema_documentation/mt-mt-covid-19-csv.md
  prime-router/docs/schema_documentation/mt-mt-covid-19.md
  prime-router/docs/schema_documentation/nd-nd-covid-19.md
  prime-router/docs/schema_documentation/nm-nm-covid-19.md
  prime-router/docs/schema_documentation/oh-oh-covid-19.md
  prime-router/docs/schema_documentation/or-or-covid-19-hl7.md
  prime-router/docs/schema_documentation/pa-pa-covid-19-hl7.md
  prime-router/docs/schema_documentation/pa-pa-covid-19-redox.md
  prime-router/docs/schema_documentation/primedatainput-pdi-covid-19.md
  prime-router/docs/schema_documentation/standard-standard-covid-19.md
  prime-router/docs/schema_documentation/strac-strac-covid-19.md
  prime-router/docs/schema_documentation/tx-tx-covid-19.md
  prime-router/docs/schema_documentation/vt-vt-covid-19.md
  prime-router/docs/schema_documentation/waters-waters-covid-19.md
  prime-router/metadata/schemas/covid-19.schema
  prime-router/src/main/kotlin/Element.kt
  prime-router/src/main/kotlin/cli/tests/Hl7Tests.kt
  prime-router/src/test/kotlin/ElementTests.kt
  prime-router/src/testIntegration/resources/datatests/CSV_to_HL7/sample-batch-pdi-20210608-0001.hl7
  prime-router/src/testIntegration/resources/datatests/CSV_to_HL7/sample-batch-pdi-20210824-0001.hl7
  prime-router/src/testIntegration/resources/datatests/CSV_to_HL7/sample-single-pdi-20210824-0002.hl7
Labels: receiver

#2121 Adding tabbed list feature for web-receiver Daily Data list
  frontend-react/src/App.tsx
  frontend-react/src/components/HipaaNotice.tsx
  frontend-react/src/controllers/ReportController.ts
  frontend-react/src/pages/Daily.tsx
  frontend-react/src/pages/Daily/Daily.tsx
  frontend-react/src/pages/Daily/Table/ReportLink.tsx
  frontend-react/src/pages/Daily/Table/TableButtonGroup.tsx
  frontend-react/src/pages/Daily/Table/TableReports.tsx
  frontend-react/src/pages/Daily/Table/TableReportsData.tsx
  prime-router/src/main/kotlin/azure/HistoryFunctions.kt
Labels: react

#2115 Update zip codes
  prime-router/metadata/tables/zip-code-data.csv
Labels: sender-automation

#2144 Refactoring React front-end and adding prop typing
  frontend-react/src/App.tsx
  frontend-react/src/controllers/ReportController.ts
  frontend-react/src/pages/Daily/Table/ReportLink.tsx
  frontend-react/src/pages/Details.tsx
  frontend-react/src/pages/Home.tsx
  frontend-react/src/pages/daily/Daily.tsx
  frontend-react/src/pages/daily/Table/ReportLink.tsx
  frontend-react/src/pages/daily/Table/TableButtonGroup.tsx
  frontend-react/src/pages/daily/Table/TableReports.tsx
  frontend-react/src/pages/daily/Table/TableReportsData.tsx
  frontend-react/src/pages/details/Details.tsx
  frontend-react/src/pages/details/FacilitiesTable.tsx
  frontend-react/src/pages/details/ReportDetails.tsx
  frontend-react/src/pages/details/Summary.tsx
  frontend-react/src/pages/home/Features/DeliveryMethodsFeature.tsx
  frontend-react/src/pages/home/Features/Feature.tsx
  frontend-react/src/pages/home/Features/LiveMapFeature.tsx
  frontend-react/src/pages/home/Hero.tsx
  frontend-react/src/pages/home/Home.tsx
  frontend-react/src/pages/home/HomeProps.ts
  frontend-react/src/pages/home/Sections/CtaSection.tsx
  frontend-react/src/pages/home/Sections/LiveMapSection.tsx
  frontend-react/src/pages/home/Sections/Section.tsx
  frontend-react/src/pages/how-it-works/HowItWorks.tsx
Labels: front-end, react

#2153 Changes tabs and filter to use receivingOrgSvc rather than sendingOrg
  frontend-react/src/controllers/ReportController.ts
  frontend-react/src/pages/daily/Table/TableButtonGroup.tsx
  frontend-react/src/pages/daily/Table/TableReports.tsx
  frontend-react/src/resources/ReportResource.ts
Labels: front-end, react

#2167 rhood/2165 Add zip codes
  prime-router/metadata/tables/zip-code-data.csv
Labels: sender-automation

#2184 Fix VNET peering
  operations/app/src/modules/common/private_endpoint/main.tf
  operations/app/src/modules/network/old-vnet.tf
Labels: bug, DevOps

#2187 Added DHPrimeAdmins to PERMISSIONS enum
  frontend-react/src/App.tsx
  frontend-react/src/components/ReportStreamHeader.tsx
  frontend-react/src/resources/PermissionsResource.ts
  frontend-react/src/webreceiver-utils.ts
Labels: front-end, website

#2182 Gitleaks Violation Suppression
  .environment/gitleaks/gitleaks-config.toml
  prime-router/src/main/kotlin/Element.kt
  prime-router/src/main/kotlin/LookupTable.kt
  prime-router/src/main/kotlin/azure/Authentication.kt
  prime-router/src/main/kotlin/azure/SettingsFunctions.kt
  prime-router/src/main/kotlin/cli/CredentialsCli.kt
  prime-router/src/main/kotlin/cli/tests/TestReportStream.kt
  prime-router/src/main/kotlin/credentials/Credential.kt
  prime-router/src/main/kotlin/serializers/Hl7Serializer.kt
  prime-router/src/main/kotlin/transport/SftpTransport.kt
  prime-router/src/test/kotlin/ElementTests.kt
  prime-router/src/test/kotlin/azure/TokenFunctionTests.kt
  prime-router/src/test/kotlin/credentials/CredentialTests.kt
  prime-router/src/test/kotlin/serializers/Hl7SerializerTests.kt
Labels: receiver

#2179 Adds user password option for the two key file auths
  prime-router/src/main/kotlin/cli/CredentialsCli.kt
  prime-router/src/main/kotlin/credentials/Credential.kt
  prime-router/src/main/kotlin/transport/SftpTransport.kt
Labels: engineering, receiver

#2127 Palo Alto - No VPN
  .environment/gitleaks/gitleaks-config.toml
  operations/app/src/environments/01-network/variables.tf
  operations/app/src/environments/02-config/main.tf
  operations/app/src/environments/02-config/variables.tf
  operations/app/src/environments/03-persistent/main.tf
  operations/app/src/environments/03-persistent/variables.tf
  operations/app/src/environments/04-app/main.tf
  operations/app/src/environments/04-app/variables.tf
  operations/app/src/environments/tf
  operations/app/src/modules/function_app/variables.tf
  operations/app/src/modules/key_vault/data.tf
  operations/app/src/modules/key_vault/main.tf
  operations/app/src/modules/key_vault/variables.tf
  operations/app/src/modules/network/data.tf
  operations/app/src/modules/network/dns.tf
  operations/app/src/modules/network/main.tf
  operations/app/src/modules/network/vnet-peer.tf
  operations/app/src/modules/network/vpn.tf
  operations/app/src/modules/storage/candidate_slot.tf
  operations/app/src/modules/storage/data.tf
  operations/app/src/modules/storage/main.tf
  operations/app/src/modules/storage/variables.tf
Labels: DevOps, security

#2193 Adding Jest and ReactTestingLibrary for React front-end testing
  frontend-react/package-lock.json
  frontend-react/package.json
Labels: front-end, react

#2216 React spinner updates and Jest dependency fix
  frontend-react/package-lock.json
  frontend-react/package.json
  frontend-react/src/App.css
  frontend-react/src/App.tsx
  frontend-react/src/components/Spinner.tsx
  frontend-react/src/pages/daily/Daily.tsx
Labels: front-end, react, web-receiver, website

#2217 React content fixes
  frontend-react/src/components/ReportStreamFooter.tsx
  frontend-react/src/pages/Login.tsx
  frontend-react/src/pages/how-it-works/SystemsAndSettings.tsx
  frontend-react/src/pages/how-it-works/WebReceiverGuide.tsx
Labels: front-end, react, website

#2222 Updated map to remove states who are onboarding
  frontend-react/src/content/live.json
Labels: front-end, react, website

#2234 React site content fixes under "How it works"
  frontend-react/src/pages/how-it-works/ElrChecklist.tsx
  frontend-react/src/pages/how-it-works/GettingStarted.tsx
  frontend-react/src/pages/how-it-works/SecurityPractices.tsx
  frontend-react/src/pages/how-it-works/SystemsAndSettings.tsx
  frontend-react/src/pages/how-it-works/WebReceiverGuide.tsx
Labels: front-end, react, website

#2223 Palo Alto: Lower Environments
  operations/app/src/modules/common/private_endpoint/main.tf
  operations/app/src/modules/container_registry/data.tf
  operations/app/src/modules/container_registry/main.tf
  operations/app/src/modules/database/data.tf
  operations/app/src/modules/database/main.tf
  operations/app/src/modules/function_app/candidate_slot.tf
  operations/app/src/modules/function_app/data.tf
  operations/app/src/modules/function_app/main.tf
  operations/app/src/modules/key_vault/data.tf
  operations/app/src/modules/key_vault/main.tf
  operations/app/src/modules/metabase/data.tf
  operations/app/src/modules/metabase/main.tf
  operations/app/src/modules/sftp_container/data.tf
  operations/app/src/modules/sftp_container/main.tf
  operations/app/src/modules/storage/candidate_slot.tf
  operations/app/src/modules/storage/data.tf
  operations/app/src/modules/storage/main.tf
Labels: DevOps, security

#2238 rhood/2237-Reddy-PID-ORC-OBR-Changes
  prime-router/docs/schema_documentation/ipatientcare-ipatientcare-covid-19.md
  prime-router/docs/schema_documentation/ipatientcare-reddyfmc-la-covid-19.md
  prime-router/metadata/schemas/iPatientCare/iPatientCare-covid-19.schema
Labels: sender-automation

#2215 rhood/2166-CUC-Add Healgen Antibody test
  prime-router/docs/schema_documentation/experity-cuc-al-covid-19.md
  prime-router/docs/schema_documentation/experity-experity-covid-19.md
  prime-router/docs/schema_documentation/experity-guc-la-covid-19.md
  prime-router/metadata/schemas/Experity/CUC-AL-covid-19.schema
  prime-router/metadata/schemas/Experity/GUC-LA-covid-19.schema
  prime-router/metadata/schemas/Experity/experity-covid-19.schema
  prime-router/metadata/valuesets/sender-automation.valuesets
Labels: sender-automation

#2241 rhood/2240 Add zip codes
  prime-router/metadata/tables/zip-code-data.csv
Labels: sender-automation

#2273 Kevinhaube/index content fixes
  frontend-react/src/content/content.json
  frontend-react/src/pages/home/Features/DeliveryMethodsFeature.tsx
  frontend-react/src/pages/home/Features/Feature.tsx
  frontend-react/src/pages/home/Features/LiveMapFeature.tsx
  frontend-react/src/pages/home/Hero.tsx
  frontend-react/src/pages/home/Home.tsx
  frontend-react/src/pages/home/Sections/CtaSection.tsx
  frontend-react/src/pages/home/Sections/LiveMapSection.tsx
  frontend-react/src/pages/home/Sections/Section.tsx
Labels: front-end, react, website

#2336 Squashing react bugs
  frontend-react/src/App.css
  frontend-react/src/App.tsx
  frontend-react/src/components/Spinner.tsx
  frontend-react/src/controllers/OrganizationController.ts
  frontend-react/src/pages/daily/Daily.tsx
  frontend-react/src/pages/details/Details.tsx
  frontend-react/src/pages/details/Summary.tsx
  frontend-react/src/pages/how-it-works/WebReceiverGuide.tsx
Labels: front-end, react, website

#2339 Clicking off of dropdown menu now closes the menu
  frontend-react/src/components/ReportStreamHeader.tsx
Labels: front-end, react, website

#2259 Bg/ak settings to prod
  prime-router/settings/prod/0045-ak-prod.yml
Labels: onboarding, receiver

#2345 chore: Add alerts to Azure metrics
  operations/app/src/modules/application_insights/alert_app_service.tf
  operations/app/src/modules/application_insights/alert_availability.tf
  operations/app/src/modules/application_insights/alert_db.tf
  operations/app/src/modules/application_insights/alert_exception.tf
  operations/app/src/modules/application_insights/alert_response_time.tf
  operations/app/src/modules/application_insights/data.tf
  operations/app/src/modules/application_insights/main.tf
Labels: DevOps, Tech Debt

#2260 Add missing `REACT_APP_PUBLIC_URL`
  frontend-react/.env.development
Labels: react

#2262 Update TOS on 11ty and React, add IL to live map on 11ty
  frontend-react/package-lock.json
  frontend-react/src/content/live.json
  frontend-react/src/pages/TermsOfService.tsx
  frontend/src/_data/content/where-were-live.yaml
  frontend/src/assets/img/rs-live-stlt.svg
  frontend/src/public-terms-of-service.html
Labels: Content, website

#2378 Fixed empty dependency array in useEffect
  frontend-react/package-lock.json
  frontend-react/src/pages/details/FacilitiesTable.tsx
Labels: bug, react, web

#2379 Login page style fixes
  frontend-react/src/index.css
  frontend-react/src/pages/Login.tsx
Labels: front-end, react, website

#2387 rhood/2382-Add Zip Codes
  prime-router/metadata/tables/zip-code-data.csv
Labels: sender-automation

#2443 Fix blank page when there's a network error the loading the table
  frontend-react/src/pages/Upload.tsx
  frontend-react/src/pages/daily/Daily.tsx
Labels: react

#2445 remove Content-Security-Policy for now
  frontend-react/public/index.html
Labels: react

#2458 404 and Unsupported Browser error pages
  frontend-react/package-lock.json
  frontend-react/package.json
  frontend-react/src/App.tsx
  frontend-react/src/pages/details/Details.tsx
  frontend-react/src/pages/error/ErrorPage.tsx
  frontend-react/src/pages/error/NotFound.tsx
  frontend-react/src/pages/error/UnsupportedBrowser.tsx
Labels: front-end, react, website
