Repository CDCgov/prime-reportstream, pull requests merged in 2022-10, with the labels that each got.

#6881 6559 Cleanup and simplification of custom FHIR extension URLs
  prime-router/metadata/fhir_mapping/hl7/codesystem/ExtensionUrlMapping.yml
  prime-router/metadata/fhir_mapping/hl7/resource/Location.yml
  prime-router/metadata/fhir_mapping/hl7/resource/Organization.yml
  prime-router/metadata/fhir_mapping/hl7/resource/Practitioner.yml
  prime-router/metadata/fhir_mapping/hl7/secondary/Destination.yml
  prime-router/metadata/fhir_mapping/hl7/secondary/Source.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/datatype/xon-organization.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/message-header.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/patient-visit.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/patient.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/software.yml
  prime-router/metadata/hl7_mapping/STLTs/CO/co-order-observation.yml
  prime-router/src/main/kotlin/fhirengine/translation/hl7/utils/ConstantResolver.kt
  prime-router/src/test/kotlin/fhirengine/translation/hl7/utils/ConstantResolverTests.kt
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR/sample_co_1_20220518-0001.fhir
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR/sample_co_1_20220518-0006.fhir
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR/sample_co_1_20220518-0014.fhir
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR/sample_co_2_20220803-0001.fhir
Labels: pipeline

#6877 Experience/6311 display QF messages
  frontend-react/src/__mocks__/WatersMockServer.ts
  frontend-react/src/components/FileHandlers/FileHandler.test.tsx
  frontend-react/src/components/FileHandlers/FileHandler.tsx
  frontend-react/src/components/FileHandlers/FileHandlerMessaging.test.tsx
  frontend-react/src/components/FileHandlers/FileHandlerMessaging.tsx
  frontend-react/src/components/StaticAlert.tsx
  frontend-react/src/hooks/UseFileHandler.test.ts
  frontend-react/src/hooks/UseFileHandler.ts
  frontend-react/src/network/api/WatersApi.ts
  frontend-react/src/pages/Validate.tsx
  frontend-react/src/resources/ActionDetailsResource.ts
  frontend-react/src/resources/TestResponse.ts
Labels: experience

#6883 5072 Updates to CO specific FHIR to HL7 schema
  prime-router/metadata/fhir_mapping/hl7/codesystem/ExtensionUrlMapping.yml
  prime-router/metadata/fhir_mapping/hl7/datatype/Quantity.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/observation-result.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/specimen.yml
  prime-router/metadata/hl7_mapping/STLTs/CO/CO.yml
  prime-router/metadata/hl7_mapping/STLTs/CO/co-observation-result.yml
  prime-router/metadata/hl7_mapping/STLTs/CO/co-order-observation.yml
  prime-router/src/main/kotlin/cli/ProcessFhirCommands.kt
  prime-router/src/main/kotlin/cli/tests/CompareData.kt
  prime-router/src/main/kotlin/fhirengine/translation/hl7/schema/ConfigSchemaReader.kt
  prime-router/src/test/kotlin/fhirengine/translation/hl7/schema/ConfigSchemaReaderTests.kt
  prime-router/src/testIntegration/kotlin/datatests/TranslationTests.kt
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR/sample_co_1_20220518-0001.fhir
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0001-expected-CO.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0001-expected-base.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0001.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0004-expected-base.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0004.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0019-expected-CO.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0019-expected-base.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0019.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/test_playground_20220930-0001-expected-CO.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/test_playground_20220930-0001.hl7
  prime-router/src/testIntegration/resources/datatests/translation-test-config.csv
Labels: pipeline

#6939 RSNetworkError retains API response body
  frontend-react/src/hooks/UseCreateFetch.ts
  frontend-react/src/pages/admin/value-set-editor/ValueSetsDetail.test.tsx
  frontend-react/src/pages/admin/value-set-editor/ValueSetsIndex.test.tsx
  frontend-react/src/utils/RSNetworkError.test.ts
  frontend-react/src/utils/RSNetworkError.ts
Labels: frontend, experience

#6862 Json differ support
  frontend-react/src/components/Admin/AdminFormEdit.tsx
  frontend-react/src/components/Admin/CompareJsonModal.tsx
  frontend-react/src/components/EditableCompare.tsx
  frontend-react/src/components/StaticCompare.test.tsx
  frontend-react/src/components/StaticCompare.tsx
  frontend-react/src/pages/admin/AdminRevHistory.tsx
  frontend-react/src/styles/_reportstream.scss
  frontend-react/src/utils/DiffCompare/AbstractDiffer.ts
  frontend-react/src/utils/DiffCompare/JsonDiffer.test.ts
  frontend-react/src/utils/DiffCompare/JsonDiffer.ts
  frontend-react/src/utils/DiffCompare/JsonSourceMap.test.ts
  frontend-react/src/utils/DiffCompare/JsonSourceMap.ts
  frontend-react/src/utils/DiffCompare/TextDiffer.test.ts
  frontend-react/src/utils/DiffCompare/TextDiffer.ts
  frontend-react/src/utils/DiffCompare/diff.test.ts
  frontend-react/src/utils/DiffCompare/diff.ts
  frontend-react/src/utils/diff.test.ts
  frontend-react/src/utils/misc.test.ts
  frontend-react/src/utils/misc.ts
Labels: onboarding-ops, experience

#6889 Update HL7 Validation Error Messaging
  prime-router/src/main/kotlin/ActionMessages.kt
  prime-router/src/main/kotlin/azure/RequestFunction.kt
  prime-router/src/main/kotlin/serializers/Hl7Serializer.kt
Labels: experience, API

#6969 WatersAPI transition to React-Query implementation
  frontend-react/src/__mocks__/WatersMockServer.ts
  frontend-react/src/components/FileHandlers/FileHandler.test.tsx
  frontend-react/src/components/FileHandlers/FileHandler.tsx
  frontend-react/src/components/FileHandlers/FileHandlerMessaging.tsx
  frontend-react/src/config/endpoints/waters.ts
  frontend-react/src/hooks/UseFileHandler.test.ts
  frontend-react/src/hooks/UseFileHandler.ts
  frontend-react/src/hooks/network/WatersHooks.test.ts
  frontend-react/src/hooks/network/WatersHooks.ts
  frontend-react/src/hooks/network/__mocks__/WatersHooks.ts
  frontend-react/src/network/QueryClients.ts
  frontend-react/src/network/api/WatersApi.test.ts
  frontend-react/src/network/api/WatersApiFunctions.test.ts
  frontend-react/src/network/api/WatersApiFunctions.ts
  frontend-react/src/pages/UploadToPipeline.tsx
  frontend-react/src/pages/Validate.tsx
Labels: frontend, experience, tech-debt

#6991 Remove static COVID reference on Submission History UI
  frontend-react/src/pages/submissions/Submissions.tsx
Labels: frontend, experience

#6319 feat: pin node version
  .github/actions/build-frontend/action.yml
  frontend-react/.nvmrc
  frontend-react/README.md
  frontend-react/package.json
  frontend-react/src/contexts/SessionContext.tsx
  prime-router/docs/getting-started/Using-an-apple-silicon-mac.md
Labels: experience

#6928 Removes RSErrorBoundary use for ValueSets mutations
  frontend-react/src/hooks/UseValueSets.test.ts
  frontend-react/src/hooks/UseValueSets.ts
  frontend-react/src/pages/admin/value-set-editor/ValueSetsDetail.test.tsx
  frontend-react/src/pages/admin/value-set-editor/ValueSetsDetail.tsx
Labels: frontend, experience

#6977 Fetch Refactor: Daily Data uses React Query implementation
  frontend-react/src/AppRouter.tsx
  frontend-react/src/__mocks__/DeliveriesMockServer.ts
  frontend-react/src/config/endpoints/deliveries.ts
  frontend-react/src/hooks/network/History/DeliveryHooks.test.ts
  frontend-react/src/hooks/network/History/DeliveryHooks.ts
  frontend-react/src/hooks/network/History/__mocks__/DeliveryHooks.ts
  frontend-react/src/network/api/History/Reports.ts
  frontend-react/src/pages/daily/Daily.tsx
  frontend-react/src/pages/daily/Table/ReportLink.tsx
  frontend-react/src/pages/daily/Table/ReportsTable.test.tsx
  frontend-react/src/pages/daily/Table/ReportsTable.tsx
  frontend-react/src/pages/details/Details.test.tsx
  frontend-react/src/pages/details/Details.tsx
  frontend-react/src/pages/details/FacilitiesTable.test.tsx
  frontend-react/src/pages/details/FacilitiesTable.tsx
  frontend-react/src/pages/details/ReportDetails.tsx
  frontend-react/src/pages/details/Summary.tsx
  frontend-react/src/utils/ReportUtils.ts
Labels: frontend, experience, tech-debt

#7016 update missed by dependabot
  .github/actions/build-backend/action.yml
Labels: dependencies, github_actions

#7017 Convert V3 to V3.0.2 checksum
  .github/workflows/codeql.yml
Labels: dependencies, github_actions

#7018 Update 3.0.0 to 3.1.0 (missed by dependabot)
  .github/actions/build-backend/action.yml
  .github/actions/build-frontend/action.yml
Labels: dependencies, github_actions

#7019 Update to v1.4.6 (missed by dependabot)
  .github/actions/vpn-azure/action.yml
Labels: dependencies, github_actions

#7028 Code cleanup for Deliveries
  frontend-react/src/AppRouter.tsx
  frontend-react/src/pages/deliveries/Deliveries.tsx
  frontend-react/src/pages/deliveries/Table/DeliveriesTable.test.tsx
  frontend-react/src/pages/deliveries/Table/DeliveriesTable.tsx
  frontend-react/src/pages/deliveries/Table/ReportLink.tsx
  frontend-react/src/pages/deliveries/Table/ReportsUtils.test.ts
  frontend-react/src/pages/deliveries/Table/ReportsUtils.ts
  frontend-react/src/pages/deliveries/Table/ServicesDropdown.tsx
  frontend-react/src/pages/deliveries/Table/TableReportsData.tsx
  frontend-react/src/pages/deliveries/details/DeliveryDetail.test.tsx
  frontend-react/src/pages/deliveries/details/DeliveryDetail.tsx
  frontend-react/src/pages/deliveries/details/DeliveryFacilitiesTable.test.tsx
  frontend-react/src/pages/deliveries/details/DeliveryFacilitiesTable.tsx
  frontend-react/src/pages/deliveries/details/DeliveryInfo.tsx
  frontend-react/src/pages/deliveries/details/Summary.tsx
  frontend-react/src/pages/details/Details.tsx
  frontend-react/src/pages/details/Summary.tsx
Labels: frontend, experience, tech-debt

#6873 fix: allow correct linting on generic function [experience-unticketed]
  frontend-react/src/contexts/AuthorizedFetchContext.tsx
Labels: experience

#7037 Experience/6670
  prime-router/src/main/kotlin/Message.kt
  prime-router/src/main/kotlin/azure/DatabaseAccess.kt
  prime-router/src/main/kotlin/azure/MessagesFunction.kt
  prime-router/src/test/kotlin/azure/MessagesFunctionTests.kt
  prime-router/src/test/kotlin/azure/SenderFilesFunctionTests.kt
  thanks.md
Labels: experience

#7041 Table shows no data message when rows are empty
  frontend-react/src/components/Table/Table.tsx
  frontend-react/src/pages/deliveries/Table/DeliveriesTable.tsx
Labels: frontend, experience

#7062 Deliveries: Filter Query by Creation Date
  frontend-react/src/hooks/filters/UseFilterManager.test.ts
  frontend-react/src/hooks/filters/UseFilterManager.ts
  frontend-react/src/hooks/network/History/DeliveryHooks.ts
  frontend-react/src/pages/deliveries/Table/DeliveriesTable.tsx
Labels: frontend, experience

#7067 Daily Data UI: Changes name of default sort column and adds enum
  frontend-react/src/pages/deliveries/Table/DeliveriesTable.tsx
Labels: bug, frontend, experience

#7061 Experience/6930 Message Id Detail
  frontend-react/src/AppRouter.tsx
  frontend-react/src/components/DetailItem/DetailItem.tsx
  frontend-react/src/components/FileHandlers/FileHandlerMessaging.tsx
  frontend-react/src/components/MessageIdSearch/MessageIdSearch.tsx
  frontend-react/src/components/MessageTracker/MessageDetails.tsx
  frontend-react/src/components/MessageTracker/MessageSender.test.tsx
  frontend-react/src/components/MessageTracker/MessageSender.tsx
  frontend-react/src/components/MessageTracker/MessageTracker.test.tsx
  frontend-react/src/components/MessageTracker/MessageTracker.tsx
  frontend-react/src/components/MessageTracker/QualityFilters.test.tsx
  frontend-react/src/components/MessageTracker/QualityFilters.tsx
  frontend-react/src/components/MessageTracker/WarningsErrors.test.tsx
  frontend-react/src/components/MessageTracker/WarningsErrors.tsx
  frontend-react/src/components/header/DropdownNav.test.tsx
  frontend-react/src/components/header/DropdownNav.tsx
  frontend-react/src/pages/admin/AdminMessageTracker.tsx
  frontend-react/src/pages/submissions/SubmissionDetails.test.tsx
  frontend-react/src/pages/submissions/SubmissionDetails.tsx
Labels: frontend, experience

#6702 Bump org.yaml:snakeyaml from 1.30 to 1.33 in /prime-router
  prime-router/build.gradle.kts
Labels: onboarding-ops, security, dependencies, java

#6973 Bump @xmldom/xmldom to 0.7.6 in /frontend-react
  frontend-react/package.json
  frontend-react/yarn.lock
Labels: security, experience, dependencies, javascript

#7079 Remove value-sets flag, add enum for message id search
  frontend-react/src/components/header/DropdownNav.test.tsx
  frontend-react/src/components/header/DropdownNav.tsx
  frontend-react/src/pages/misc/FeatureFlags.tsx
Labels: frontend, experience

#7075 Remove Validation feature flag for internal use
  frontend-react/src/components/header/ReportStreamHeader.tsx
  frontend-react/src/pages/Validate.tsx
  frontend-react/src/pages/misc/FeatureFlags.tsx
Labels: frontend, experience

#7077 Update required Node version to 16.18.0
  .github/actions/build-frontend/action.yml
  frontend-react/.nvmrc
  frontend-react/README.md
  frontend-react/package.json
  prime-router/docs/getting-started/Using-an-apple-silicon-mac.md
Labels: frontend, experience, tech-debt

#7066 Table Refactoring: Removes old pagination and splits out subcomponents
  frontend-react/src/components/Table/ColumnData.tsx
  frontend-react/src/components/Table/Table.test.tsx
  frontend-react/src/components/Table/Table.tsx
  frontend-react/src/components/Table/TableActionButton.tsx
  frontend-react/src/components/Table/TableHeaders.tsx
  frontend-react/src/components/Table/TableInfo.tsx
  frontend-react/src/components/Table/TableRows.tsx
  frontend-react/src/components/Table/TestTable.tsx
  frontend-react/src/pages/admin/value-set-editor/ValueSetsDetail.tsx
  frontend-react/src/pages/submissions/SubmissionTable.test.tsx
  frontend-react/src/pages/submissions/SubmissionTable.tsx
Labels: frontend, experience, release_notes

#7119 Onboarding Osang sender
  prime-router/settings/organizations.yml
  prime-router/settings/prod/0145-osang-onboarding.yml
  prime-router/settings/staging/0145-osang-onboarding.yml
Labels: onboarding-ops, sender

#7069 Move rarely used Delete Setting feature down into Edit page
  frontend-react/src/components/Admin/AdminModal.tsx
  frontend-react/src/components/Admin/CompareJsonModal.tsx
  frontend-react/src/components/Admin/EditReceiverSettings.test.tsx
  frontend-react/src/components/Admin/EditReceiverSettings.tsx
  frontend-react/src/components/Admin/EditSenderSettings.test.tsx
  frontend-react/src/components/Admin/EditSenderSettings.tsx
  frontend-react/src/components/Admin/OrgReceiverTable.test.tsx
  frontend-react/src/components/Admin/OrgReceiverTable.tsx
  frontend-react/src/components/Admin/OrgSenderTable.test.tsx
  frontend-react/src/components/Admin/OrgSenderTable.tsx
  frontend-react/src/components/ModalConfirmDialog.test.tsx
  frontend-react/src/components/ModalConfirmDialog.tsx
  frontend-react/src/pages/admin/AdminMain.tsx
  prime-router/src/main/kotlin/azure/SettingsFacade.kt
Labels: experience, tech-debt

#7085 Add new LIVD fields to covid-19 schema
  prime-router/docs/schema_documentation/az-az-covid-19-hl7.md
  prime-router/docs/schema_documentation/covid-19.md
  prime-router/docs/schema_documentation/direct-careevolution-covid-19.md
  prime-router/docs/schema_documentation/direct-hca-covid-19.md
  prime-router/docs/schema_documentation/hl7-color-labs-covid-19.md
  prime-router/docs/schema_documentation/hl7-detect-covid-19.md
  prime-router/docs/schema_documentation/hl7-hcintegrations-covid-19.md
  prime-router/docs/schema_documentation/hl7-hl7-ingest-covid-19-prod.md
  prime-router/docs/schema_documentation/hl7-hl7-ingest-covid-19-training.md
  prime-router/docs/schema_documentation/hl7-hl7-ingest-covid-19.md
  prime-router/docs/schema_documentation/hl7-lifepoint-covid-19.md
  prime-router/docs/schema_documentation/hl7-mns-covid-19.md
  prime-router/docs/schema_documentation/hl7-prescryptive-covid-19.md
  prime-router/docs/schema_documentation/hl7-primary-covid-19.md
  prime-router/docs/schema_documentation/hl7-signetic-covid-19.md
  prime-router/docs/schema_documentation/hl7-test-covid-19.md
  prime-router/docs/schema_documentation/la-la-covid-19.md
  prime-router/docs/schema_documentation/mt-mt-covid-19.md
  prime-router/docs/schema_documentation/nm-nm-covid-19.md
  prime-router/docs/schema_documentation/or-or-covid-19-hl7.md
  prime-router/docs/schema_documentation/pa-pa-covid-19-hl7.md
  prime-router/docs/schema_documentation/standard-standard-covid-19.md
  prime-router/docs/schema_documentation/tx-tx-covid-19.md
  prime-router/docs/schema_documentation/vt-vt-covid-19.md
  prime-router/metadata/schemas/covid-19.schema
  prime-router/metadata/tables/local/LIVD-SARS-CoV-2.csv
  prime-router/src/main/resources/db/migration/V57__update_livd_materialized_view.sql
Labels: onboarding-ops

#7117 6972 Universal Pipeline can send HL7 BATCH files
  prime-router/build.gradle.kts
  prime-router/settings/organizations.yml
  prime-router/src/main/kotlin/azure/BatchFunction.kt
  prime-router/src/main/kotlin/fhirengine/engine/FHIRTranslator.kt
  prime-router/src/main/kotlin/fhirengine/utils/HL7MessageHelpers.kt
  prime-router/src/test/kotlin/azure/BatchFunctionTests.kt
  prime-router/src/test/kotlin/fhirengine/utils/HL7MessageHelpersTests.kt
Labels: pipeline

#7148 Remove static covid-19 reference from Deliveries UI
  frontend-react/src/pages/deliveries/Deliveries.tsx
Labels: frontend, experience

#7152 Extract `NoServicesAlert` as a common alert component
  frontend-react/src/components/FileHandlers/FileHandler.tsx
  frontend-react/src/components/FileHandlers/FileHandlerMessaging.tsx
  frontend-react/src/components/alerts/NoServicesAlert.test.tsx
  frontend-react/src/components/alerts/NoServicesAlert.tsx
Labels: frontend, experience

#7156 Interface updates and adding services endpoints
  frontend-react/src/components/Admin/OrgsTable.tsx
  frontend-react/src/components/FileHandlers/FileHandler.tsx
  frontend-react/src/components/SenderModeBanner.test.tsx
  frontend-react/src/components/SenderModeBanner.tsx
  frontend-react/src/config/endpoints/services.ts
  frontend-react/src/hooks/UseOktaMemberships.test.ts
  frontend-react/src/hooks/UseOktaMemberships.ts
  frontend-react/src/hooks/UseSenderResource.test.ts
  frontend-react/src/hooks/UseSenderResource.ts
  frontend-react/src/hooks/network/History/DeliveryHooks.test.ts
  frontend-react/src/pages/deliveries/Table/DeliveriesTable.test.tsx
  frontend-react/src/pages/submissions/SubmissionTable.test.tsx
Labels: frontend, experience

#7162 Experience/6988 Message ID Tracker - Receiver data - API
  prime-router/src/main/kotlin/azure/DatabaseAccess.kt
  prime-router/src/main/kotlin/azure/MessagesFunctions.kt
  prime-router/src/main/kotlin/messageTracker/Message.kt
  prime-router/src/test/kotlin/azure/MessagesFunctionsTests.kt
Labels: frontend, experience

#7074 Bump jackson-databind from 2.13.4 to 2.13.4.2 in /prime-router
  prime-router/build.gradle.kts
Labels: backend, security, dependencies, java

#7142 6801 Support ORC 14 repeating field values in FHIR
  prime-router/metadata/fhir_mapping/hl7/codesystem/ExtensionUrlMapping.yml
  prime-router/metadata/fhir_mapping/hl7/datatype/ContactPoint.yml
  prime-router/metadata/fhir_mapping/hl7/resource/Practitioner.yml
  prime-router/metadata/fhir_mapping/hl7/resource/PractitionerRole.yml
  prime-router/metadata/fhir_mapping/hl7/resource/ServiceRequest.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/datatype/xtn-telecom.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/observation-request.yml
  prime-router/metadata/hl7_mapping/ORU_R01/base/order.yml
  prime-router/src/main/kotlin/fhirengine/translation/hl7/FhirToHl7Converter.kt
  prime-router/src/main/kotlin/fhirengine/translation/hl7/schema/ConfigSchema.kt
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR/sample_co_1_20220518-0001.fhir
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR/sample_co_1_20220518-0006.fhir
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR/sample_co_1_20220518-0014.fhir
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0014-expected-base.hl7
  prime-router/src/testIntegration/resources/datatests/HL7_to_FHIR_to_HL7/sample_co_1_20220518-0014.hl7
  prime-router/src/testIntegration/resources/datatests/translation-test-config.csv
Labels: pipeline
